.payment-methods {
	text-transform: uppercase;
	font-size: rem-calc(12);
	color: color(gray);
	position: relative;
	padding-top: $padding;
	margin-top: $padding;
	border-top: rem-calc(1) solid lighten(color(gray-light), 55%);

	.payment-options{
		padding-right: $padding;
		margin-right: $padding;
		border-right: rem-calc(1) solid lighten(color(gray-light), 40%);
		color: color(gray-light);
	}
	img {
		float: none;
		display: inline-block;
		padding-left: $padding;
		line-height: 1;
		vertical-align: middle;
		width: auto;
		height: rem-calc(20);
	}

	span {
		padding-top: $padding * 0.5;
		padding-bottom: $padding * 0.5;
		//line-height: 2em;
		vertical-align: middle;
		display: inline-block;
	}
	.security-seal {
		height: rem-calc(40);
		position: relative;
		top: rem-calc(-10);

		@media #{$medium-up} {
			float: right;
		}
	}
	
}
.footer {
	margin-top: $padding * 5;

	* {
		font-size: rem-calc(12) !important;

		@media #{$medium-up} {
			font-size: rem-calc(14) !important;
		}
	}
	.copyright {
		margin-top: $padding * 5;
		padding-top: $padding;
		border-top: rem-calc(1) solid lighten(color(gray-light), 55%);
		font-size: rem-calc(12);
	}

	a {
		text-decoration: none;
		color: lighten(color(gray-light), 30%);
		transition: color 0.3s ease-out;

		&:hover {
			color: color(primary);
			font-weight: 400;
		}
	}

	.logo {
		max-width: 80%;
	}
}
.delivery-promises {
	color: color(primary);
	font-weight: 100;
	text-align: center;

	> div {
		display: inline-block;
		padding: $padding;
		float: none;
		box-sizing: border-box;
		font-size: rem-calc(12);

		span {
			display: inline-block;
			text-align: left;
			line-height: 1.6;
			float: left;
		}

		.icon {
			display: inline-block;
			float: left;
			font-size: rem-calc(20);

			@media #{$medium-up} {
				font-size: rem-calc(30);
			}
		}

		@media #{$small-only} {
			font-size: rem-calc(9);
			padding-bottom: 0;
		}

		@media #{$large-up} {
			font-size: rem-calc(14);
			padding: $padding * 1.5;

			.icon {
				font-size: rem-calc(40);
				transform: translateY(-15%);
			}
		}
	}
}
.evron-wallet-icon {
	font-size: rem-calc(18) !important;
	//font-weight: 100 !important;
	color: color(primary) !important;
	padding-bottom: $padding;
	display: inline-block;
	line-height: 1.6 !important;

	.icon {
		font-size: rem-calc(22) !important;
		transform: translateY(20%);
		display: inline-block;
		padding-right: $padding * 0.5;
	}
}
.newsletter-social {
	padding-top: $padding * 2;
	//padding-bottom: $padding * 2;
	background-color: lighten(color(gray-light), 57%);

	h1 {
		margin-top: rem-calc(3);
	}

	.newsletter {
		//border: rem-calc(1) solid rgba(207,207,207,0.75);
		box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.17);
		border-radius: rem-calc(40);
		float: right;
		//overflow: hidden;
		width: 100%;
		background-color: color(white);
		position: relative;

		input[type="text"], input[type="email"] {
			float: left;
			width: 80%;
			font-weight: 100;
			border: none;
			background-color: transparent;

			&::placeholder {
				color: lighten(color(gray-light), 40%);
			}

			@media #{$large-up} {
				width: 80%;
			}
		}

		input[type="button"], input[type="submit"] {
			width: 20%;
			font-family: 'icomoon' !important;
			text-align: center;
			padding-left: 0;
			padding-right: 0;
			//border-left: rem-calc(1) solid lighten(color(gray-light), 50%);
			background-color: color(primary);
			color: color(white);
			cursor: pointer;
			transition: transform 0.3s ease-out;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;

			@media #{$large-up} {
				width: 20%;
			}

			&:active {
				transform: translateY(20%);
			}
		}
	}

	.newsletter-message-box {
		position: absolute;
		width: rem-calc(300);
		top: rem-calc(-$padding * 10);
		left: 50%;
		transform: translateX(-50%) translateY(-100%);
		padding: $padding;
		background-color: color(white);
		border-radius: rem-calc(4);
		filter: drop-shadow(0px 4px 15px rgba(0,0,0,0.2));
		display: none;

		&:after {
			content: '';
			position: absolute;
			bottom: rem-calc(-10);
			left: 50%;
			transform: translateX(-50%);
			width: 0;
			height: 0;
			border-style: solid;
			border-width: rem-calc(10) rem-calc(14) 0 rem-calc(14);
			border-color: #ffffff transparent transparent transparent;
		}

		p {
			margin-bottom: 0;
		}

		.closeBtn {
			background-color: color(secondary);
			width: rem-calc(25);
			height: rem-calc(25);
			border-radius: 50%;
			line-height: rem-calc(25);
			color: color(white);
			text-align: center;
			cursor: pointer;
			position: absolute;
			right: rem-calc(-12.5);
			top: rem-calc(-12.5);
			cursor: pointer;
			user-select: none;
		}
	}

	.socials {
		font-size: rem-calc(30);
		width: 100%;
		padding-bottom: $padding * 2;		

		a {
			text-decoration: none;
			color: lighten(color(gray-light), 40%);
			padding: $padding * 0.5;
			transition: color 0.3s ease-out;

			&:last-child {
				padding-right: 0;
			}

			&:hover {
				color: color(primary);
			}
		}
	}
}