.message-box {
	width: 100%;
	border-top: rem-calc(2) solid color(primary);
	color: color(gray-light);

	padding: $padding * 0.5;
	background-color: lighten(color(primary), 55%);
	@extend .mt-pad;
}
.box{
	border-radius: rem-calc(6);
	border: rem-calc(1) solid lighten(color(gray-light), 50%);
	padding: $padding;	
	background-color: color(white);
	filter: drop-shadow(0px 4px 10px rgba(0,0,0,0.2));
	padding-bottom: $padding * 2;
	padding-right: $padding !important;

	@media #{$large-up} {
		padding: $padding * 2;
	}
}
.cms-page-header {
	@extend .beta;
	text-align: center;
	padding-bottom: $padding;
	@extend .c-p;
	float: none;
	width: 100%;
	@extend .mt-pad;
	position: relative;
	

	&:after {
		content: '';
		width: rem-calc(60);
		position: absolute;
		height: rem-calc(2);
		background-color: color(primary);
		bottom: $padding * 0.6;
		left: 50%;
		transform: translateX(-50%);
	}
}
.ced-sociallogin-login {
	float: left;
	margin-top: $padding !important;
	width: 100%;
}
hr {
	color: lighten(color(gray-light), 30%);
	//border-bottom: rem-calc(1) solid lighten(color(gray-light), 30%);
}
.register {
	@media #{$large-up} {
		padding-right: $padding * 5;
		border-right: rem-calc(1) solid lighten(color(gray-light), 50%);;
	}
}
.forgotpasswordlink {
	display: inline-block;
	width: 100%;
	text-align: center;
}
.success-msg {
	float: left !important;
}