.side-menu {
	width: 100%;
	/* Mask: */
	background: color(white);
	border: 1px solid rgba(207,207,207,0.25);
	box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.17);
	border-radius: rem-calc(4);
	//position: relative;
	//z-index: 200;
	margin-bottom: $padding * 4;
	-webkit-overflow-scrolling: touch;
	overflow-scrolling: touch;

	@media #{$small-only} {
		width: 100vw !important;
		//max-height: 50vh;
		overflow-y: scroll;
	}

	.header & {
		position: absolute !important;
		width: rem-calc(325);
		top: rem-calc(70);
		display: none;

		@media #{$medium-up} {
			top: rem-calc(100);
		}

		li {
			padding-top: $padding * 0.3;
			//padding-bottom: $padding * 0.2;
			line-height: 1.4;
		}
	}

	.menu-items {
		li > ul {
			position: relative;
			display: none;
			width: 100%;
			background-color: lighten(color(gray-light), 57%);

			@media #{$medium-up} {
				display: none;
				position: absolute;
				right: -100%;
				top: 0;
				background-color: color(white);
				//border: 1px solid rgba(207,207,207,0.25);
				box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.17);
				border-radius: rem-calc(4);
				z-index: 20000;
				width: 100%;
				transform: translateX(-1%);
			}
		}
	}

	.menu-image {
		display: none;
		padding-top: 0;
		margin-top: 0;

		@media #{$medium-up} {
			display: block;
		}

		img {
			width: 100%;
			float: left;
		}
	}

	li {
		font-size: rem-calc(16);
		letter-spacing: -0.2px;
		font-weight: 400;
		width: 100%;
		position: relative;

		@media #{$medium-only} {
			font-size: rem-calc(14);
			line-height: 1.6;
		}

		&:first-child {
			a {
				padding-top: $padding;
			}
		}

		&:last-child {
			border-bottom-right-radius: rem-calc(4);
			border-bottom-left-radius: rem-calc(4);

			a {
				padding-bottom: $padding;
			}
		}

		&.promiment, &.prominent {
			background-color: color(primary);

			a {
				color: color(white);

				&:hover {
					color: rgba(color(white), 0.5);
				}
			}
		}

		&.semi-prominent {
			background-color: lighten(color(primary), 58%);

			&:hover {
				background-color: lighten(color(primary), 50%);
			}
		}

		&:hover {
			background-color: lighten(color(primary), 62%);
		}

	}

	a {
		display: block;
		color: lighten(color(gray-light), 20%);
		//color: color(primary);
		padding-left: $padding;
		padding-right: $padding;;
		padding-top: $padding * 0.2;
		padding-bottom: $padding * 0.2;
		text-decoration: none;
		transition: color 0.2s ease-out;
		font-weight: 500;

		&:hover {
			color: color(primary);
			
			@media #{$small-only} {
				font-weight: bold;
			}
		}
	}

	.dropdown {
		> a {
			&:after {
				content: "\e90c";
				font-family: 'icomoon';
				speak: none;
				font-style: normal;
				font-weight: normal;
				font-variant: normal;
				text-transform: none;
				line-height: 1;
				color: lighten(color(gray-light), 40%);
				font-size: rem-calc(12);
				position: relative;
				//top: rem-calc(-1);
				padding-left: $padding * 0.3;

				/* Better Font Rendering =========== */
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;

				@media #{$small-only} {
					content: '\e90e';
				}
			}

			&:hover {
				&:after {
					color: color(primary);
				}
			}
		}
	}
}