//Defaults & Framework
@import 
	"bourbon",
	"compass/reset",
	"framework/global",
	"framework/settings",
	"framework/grid";

// Modules
@import 
	"modules/colors",
	"modules/typography",
	"modules/icons",
	"modules/lists",
	"modules/buttons",
	"modules/forms",
	"modules/spinner",
	"modules/fonts",
	"modules/loader",
	"modules/layout",
	"modules/messages"
	;

// Components
@import 
	"components/hero",
	"components/select",
	"components/product"
	;


// Plugins

@import
	"plugins/owlslider"
	;


// Sections

@import
	"sections/header",
	"sections/footer",
	"sections/general",
	"sections/homepage",
	"sections/menu",
	"sections/minicart",
	"sections/checkout",
	"sections/category",
	"sections/onestepcheckout",
	"sections/customer",
	"sections/register"
	;

html, body {
	width: 100%;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}
a, button, .icon {
	touch-action: none;
}