.product-grid {
	width: 100%;
	float: left;

	.product {
		@extend .col;
		@extend .s-6-12;
		@extend .m-4-12;
		@extend .l-3-12;
	}

	@media #{$large-up} {
		padding-left: $padding;
		padding-right: $padding;
	}

	&.product-grid-spread {
		.product {
			@extend .col;
			@extend .s-6-12;
			@extend .m-4-12;
			@extend .l-2-12;
		}
	}
}
.product {
	border: rem-calc(1) solid lighten(color(gray-light), 55%);
	border-right: none;
	border-top: none;
	position: relative;
	height: rem-calc(250);
	overflow: hidden;
	-webkit-user-select: none;

	.details-panel {
		transform: translateY(-30%);
	}

	.button {
		background-color: lighten(color(primary), 5%);
		border: none;
		color: color(white);

		&:hover {
			background-color: darken(color(primary), 5%);
		}
	}

	a {
		text-decoration: none;
		color: inherit;
	}

	@media #{$small-only} {
		&:nth-child(2n+1){
			border-left: none;
		}

		&:nth-child(2n){
			border-left: none;
		}
	}

	@media #{$medium-up} {
		border-left: none;
		border-right: rem-calc(1) solid lighten(color(gray-light), 55%);
		height: rem-calc(260);	

		&:nth-child(3n) {
			border-right: none;
		}

		&:last-child {
			border-right: none;
		}
	}

	@media #{$large-up} {
		height: rem-calc(330);

		&:nth-child(3n) {
			border-right: rem-calc(1) solid lighten(color(gray-light), 55%);
		}	

		&:nth-child(4n) {
			border-right: none;
		}

		&:last-child {
			border-right: none;
		}
	}

	&:hover {
		.product_title {
			color: color(primary);
		}
	}

	&_image {
		padding-left: $padding * 0.5;
		padding-right: $padding * 0.5;
		width: 100%;
		float: left;
		text-align: center;

		img {
			height: rem-calc(140);
			float: none;
			text-align: center;
			width: auto;
			max-width: none;

			@media #{$large-up} {
				height: rem-calc(170);
			}
		}

		@media #{$medium-up} {
			padding-left: $padding;
			padding-right: $padding;
		}
	}

	&_title {
		line-height: 1.4;
		font-weight: 400;
		font-size: rem-calc(16);
		padding: $padding * 0.5;
		letter-spacing: -0.2px;

		&:hover {
			color: color(primary);
		}
		//max-height: 3.6em;
		//overflow: hidden;

		@media #{$small-only} {
			font-weight: 400;
		}

		@media #{$medium-up} {
			padding-left: $padding;
			padding-right: $padding;
			font-size: rem-calc(16);
			line-height: 1.4;
		}

		@media #{$large-up} {
			font-size: rem-calc(18);
			line-height: 1.4;
		}
	}

	// Product Details
	&_details {
		padding: $padding * 0.5;
		position: absolute;
		bottom: 0;
		width: 100%;
		float: left;
		padding-bottom: $padding;
		height: rem-calc(60);

		@media #{$medium-up} {
			padding-left: $padding;
		}

		@media #{$large-up} {
			height: rem-calc(75);
		}
	}

	&_price {
		font-weight: bold;

		&_actual {
			font-weight: 400;
			text-decoration: line-through; 
			opacity: 0.4;
			color: color(tertiary);
		}
	}

	&_add-cart, &_form {
		color: color(primary);
		position: absolute;
		top: $padding * 0.5;
		right: $padding * 0.5;
		padding: $padding;
		margin: -$padding;
		max-width: 80%;
	}

	&_add-cart {
		font-size: rem-calc(26);
		cursor: pointer;

		@media #{$medium-up} {
			right: $padding;
			font-size: rem-calc(26);
		}

		@media #{$large-up} {
			font-size: rem-calc(26);
		}
	}

	&_form {
		visibility: hidden;

		.product_qty {
			width: rem-calc(28) !important;
			height: rem-calc(28) !important;
			border: 1px solid color(primary);
			padding: $padding * 0.1;
			font-size: rem-calc(12);
			border-radius: 50%;
			text-align: center;
			transform: translateY(-20%);
			color: color(primary);

			&::-webkit-inner-spin-button {
				-webkit-appearance: none; 
				 margin: 0; 
			}
		}

		.icon {
			padding: $padding;
			margin: -$padding;
			cursor: pointer;
			font-size: rem-calc(18);
			line-height: rem-calc(18);
		}
	}

	&_options {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		text-align: center;
		padding: $padding;
		padding-top: $padding * 0.5;
		height: 50%;
		visibility: hidden;
		background-image: linear-gradient(-180deg, rgba(color(primary), 0.3) 30%, rgba(255,255,255,0.00) 100%);

		p {
			margin-bottom: 0;
			color: color(white);
			font-size: rem-calc(14);
		}

		select {
			width: 100%;
			font-family: inherit;
			font-size: rem-calc(12) !important;

			&:focus, &:active {
				appearance: none;
				-webkit-appearance: none;
				outline: none;
			}
		}
	}

	.select-dropdown {
		width: 100%;
	}
}

.product-details {
	width: 100%;
	float: left;
	padding-top: $padding;
	margin-bottom: $padding * 2;
	@extend .mt-pad;

	@media #{$medium-up} {
		padding-top: $padding * 2;
	}

	.input-box {
		float: left;

		label {
			margin-top: rem-calc(8);
		}

		input {
			float: left;
		}
	}

	.submit{
		@extend input[type="submit"];
		border-radius: rem-calc(40);
		margin-top: $padding * 0.5;
		margin-bottom: $padding * 0.5;
		width: 100% !important;
		background-color: color(primary);
		color: color(white);
		text-align: center;
	}

	.price {
		font-weight: 300;

		.old-price {
			color: color('gray-light') !important;
			margin-bottom: $padding * 0.2;
		}
	}

	[id*="old-price"] {
		font-size: rem-calc(18) !important;
	}


	&_thumbnails {
		float: left;
		@extend .col;
		@extend .l-2-12;

		img.selected {
			border: rem-calc(1) solid lighten(color(primary), 10%);
			border-radius: rem-calc(4);
		}

		li {
			float: left;
			margin-bottom: $padding * 0.2;
		}
	}

	&_image {
		@extend .col;
		@extend .l-8-12;
		//border: rem-calc(1) solid lighten(color(gray-light), 50%);
		text-align: center;

		img {
			float: none;
		}

	}

	&_content {
		//padding: $padding * 0.5;
		@extend .col;
		@extend .m-11-12;
		@extend .l-12-12;
		border-radius: rem-calc(6);

		@media #{$medium-up} {
			//padding: $padding * 1.5;
			border: rem-calc(1) solid lighten(color(gray-light), 50%);
			float: right;
		}

		@media #{$large-up} {
			//padding: $padding * 2;
		}

		.description {
			//padding-bottom: $padding * 0.5;
			margin-bottom: $padding * 0.5;
			border-bottom: rem-calc(1) solid lighten(color(gray-light), 50%);
			font-weight: 100;

			@media #{$medium-up} {
				padding-bottom: $padding;
				margin-bottom: $padding;
			}
		}

		.price {
			font-size: rem-calc(30);
			color: color(primary);
			margin-bottom: $padding * 2;

			.old-price {
				font-size: rem-calc(16);
				vertical-align: top;
				font-weight: normal;
				color: color(gray-light);
				text-decoration: line-through;
			}
		}
	}

	&_social-share {
		@extend .col;
		@extend .s-12-12;
		text-align: center;
		margin-top: $padding;
		margin-bottom: $padding;

		.icon {
			font-size: rem-calc(20);
			color: desaturate(lighten(color(primary), 20%), 30%);
			text-decoration: none;
			margin-left: $padding * 0.5;

			@media #{$medium-up} {
				font-size: rem-calc(30);
			}

			&:hover {
				color: color(tetiary);
			}
		}
	}

	.shopping-list-link {
		font-weight: bold;
		text-align: center;

		a {
			text-decoration: none;
			color: color(primary);
			display: inline-block;
			font-size: rem-calc(14);
			border-radius: rem-calc(50);
			padding: $padding * 0.2 $padding;
			border: rem-calc(1) solid transparent;

			&:hover {
				border: rem-calc(1) solid color(tetiary);
				color: color(tetiary);
			}
		}	
	}

	// Form elements for product view page
	.qty-wrapper {
		margin-top: $padding * 0.5;
		margin-bottom: $padding * 0.5;

		.qty {
			border: rem-calc(1) solid color(primary);
			height: rem-calc(50) !important;
			background-color: color(white) !important;
			width: rem-calc(50);
			padding: $padding * 0.1;
			text-align: center;
			font-size: rem-calc(16);
			margin-top: rem-calc(-10);

			&:before, &:after {
				transform: scale(1.3);
			}
		}
	}

	label {
		margin-top: rem-calc(3);
		float: left;
		padding-right: $padding;
		font-size: rem-calc(14);
		font-weight: bold;
	}

	.select-dropdown-light, input[name="qty"] {
		border: rem-calc(1) solid color(primary);
		height: rem-calc(30) !important;
		background-color: color(white) !important;

		&:before, &:after {
			transform: scale(1.3);
		}
	}

	.select-dropdown-light {
		min-width: 70%;
	}

	input {
		border-radius: rem-calc(30);
	}

	input[name="qty"], input[type="number"] {
		width: rem-calc(70);
		padding: $padding * 0.5 !important;
		text-align: center;
	}

	.dropdown-select {
		font-size: rem-calc(18) !important;
		background-color: color(white) !important;
		height: rem-calc(30);
		line-height: 1;
	}

	&_form {

		li {
			vertical-align: middle;
			margin-bottom: $padding * 0.5;

			@media #{$medium-up} {
				margin-bottom: $padding;
			}
		}
	}
}

.extra-pad {
	padding: $padding * 0.5;

	@media #{$medium-up} {
		padding: $padding * 1.5;
		padding-bottom: 0;
	}

	@media #{$large-up} {
		padding: $padding * 2;
		padding-bottom: 0;
	}
}
.product-options {
	float: left;
	width: 100%;
	@extend .extra-pad;
	padding-top: 0;
	padding-bottom: 0;
	//background-color: color(primary);

	dl {
		float: left;
		width: 100%;
	}

	dt {
		float: left;
		width: 100%;
	}
}
.product-options-bottom {
	float: left;
	width: 100%;
	@extend .extra-pad;
	padding-bottom: $padding * 2;
	padding-top: 0;
}
p.required {
	font-size: rem-calc(12);
}
.options-list {
	li {
		display: block;
		float: left;
		width: 100%;
		margin-bottom: $padding * 0.5;
	}

	input {
		float: left;
		display: inline-block;
	}

	input[type="checkbox"] {
		margin-right: $padding * 0.5;
	}

	span.label {
		float: left;
		display: inline-block;
		max-width: 90%;
		margin-top: 0;
		vertical-align: top;
		line-height: 1.6;
		margin-top: rem-calc(-5);
	}

	.price-notice {
		* {
			font-size: rem-calc(16) !important;
		}
	}
	.label {
		margin-top: -$padding * 0.5 !important;
		display: inline-block;
	}
}

.qty {
	border: rem-calc(1) solid color(primary);
	height: rem-calc(30) !important;
	background-color: color(white) !important;
	font-size: rem-calc(30);

	&:before, &:after {
		transform: scale(1.3) !important;
	}
}

.grouped-items-table-wrapper {
	float: left;
	width: 100%;

	.qty-label {
		margin-right: 0;
	}

	.qty-wrapper {
		float: right;
	}

	.grouped-items-table {
		width: 100%;
	}


	.name-wrapper {
		margin-bottom: 0;
		font-weight: bold;
		font-size: rem-calc(16);
		font-weight: 300;
		line-height: 1.6;
		color: color(gray-light);
	}

	.qty-wrapper {
		margin: 0;
		font-size: rem-calc(20);

		label {
			font-weight: normal !important;
		}
	}

	.qty-label {
		color: lighten(color(gray-light), 40%);
		padding-right: $padding * 0.5;
	}

	.old-price {
		color: lighten(color(gray-light), 30%);
		text-decoration: line-through;
		font-size: rem-calc(14);
	}
	[id*="old-price"] {
		font-size: rem-calc(13) !important;
	}
	.price {
		font-size: rem-calc(16);
	}

	p {
		margin-bottom: 0;
		font-size: rem-calc(13);

		@media #{$medium-up} {
			font-size: 16;
		}
	}
	.table-row {
		width: 100%;
		float: left;
		padding-bottom: $padding;
		margin-bottom: $padding;
		border-bottom: rem-calc(1) solid lighten(color(gray-light), 55%);
	}
}
.validation-advice {
	color: color(secondary);
	//padding-top: $padding * 0.2;
	//margin-top: $padding * 0.2;
	border-top: rem-calc(1) solid lighten(color(gray-light), 55%);
	float: left;
	width: 100%;
}
select, .dropdown-select {
	&:focus {
		outline: none;
		border: none;
		appearance: none;
		user-select: none;
	}
}
.add-to-cart-wrapper {
	//display: none;
	float: left;
	width: 100%;
}
.special-price {
	margin-bottom: 0;
}
.tier-prices {
	font-size: rem-calc(16);

	.price {
		font-size: inherit;
	}
}
.related-products{
	border-top: rem-calc(1) solid lighten(color(gray-light), 55%);
	padding-top: $padding * 2;
	margin-top: $padding;
	padding-bottom: $padding * 2;

	a {
		@extend .c-p;
	}
	.mini-products-list {
		width: 100%;
		float: left;

		li {
			@extend .col;
			@extend .s-6-12;
			#border: none;
			margin-bottom: $padding * 0.8;
			padding-bottom: $padding * 0.8;
			#border-bottom: rem-calc(1) solid lighten(color(gray-light), 55%);
		}

		.product {
			border: none;
			height: auto;
		}
	}

	&_details {
		p {
			margin-bottom: 0;
		}

		.product-name {
			font-weight: 400;
			line-height: 1.6 !important;
			@extend .c-p;
		}
		.price-box {
			.price {
				font-size: rem-calc(16);
				font-style: italic;
				line-height: 1;
				color: lighten(color(gray-light), 20%);
			}
		}

		.link-wishlist {
			font-size: rem-calc(12);
		}
	}
}
.btn-cart {
	cursor: pointer;

	&:hover {
		background-color: darken(color(primary), 5%);
	}
	&:active {
		transform: translateY(10%);
	}
}
/*
* Pagination
*/
.toolbar {
	width: 100%;
	float: left;
	margin-top: $padding * 2;
	margin-bottom: $padding * 4;

	@media #{$large-up} {
		padding-left: $padding;
		padding-right: $padding;
	}

	* {
		font-size: rem-calc(13);

		@media #{$medium-up} {
			font-size: rem-calc(16);
		}
	}

	a {
		text-decoration: none;
		color: lighten(color(gray-light), 30%);

		&:hover {
			color: color(primary);
			//font-weight: bold;
			border-color: color(primary);
		}
	}

	.limiter, .count-container {
		display: none;
	}
}
.sorter {
	float: left;
	margin-bottom: $padding;

	@media #{$medium-up} {
		width: 50%;
	}

	.sort-by {
		display: none;

		@media #{$medium-up} {
			display: block;
		}

		label {
			font-weight: normal !important;
			padding-right: $padding * 0.5;
			float: left;
		}
	}

	.sort-by-switcher {
		display: inline-block;
		padding-left: $padding * 0.2;
		padding-right: $padding * 0.2;
		padding: rem-calc(6);
		width: rem-calc(30);
		line-height: 1;
		height: rem-calc(30);
		text-align: center;
		border: rem-calc(1) solid lighten(color(gray-light), 30%);
		border-radius: 50%;
	}

	.select-dropdown, .select-dropdown-light {
		display: inline-block;
		width: rem-calc(150) !important;
		min-width: auto;
		float: left;
		margin-right: $padding * 0.5;

		select {
			height: auto;
			line-height: 1;
			font-size: rem-calc(14) !important;
		}
	}
}
.pager {
	float: left;
	width: 100%;

	@media #{$medium-up} {
		width: 50%;
		float: right;
	}
}
.pages {

	strong {
		display: none;
	}

	ol {
		text-align: center;
		width: 100%;

		@media #{$medium-up} {
			text-align: right;
		}

		li {
			&:last-child {
				float: none;
			}
		}
	}

	li {
		display: inline-block;
		padding-left: $padding * 0.2;
		padding-right: $padding * 0.2;
		padding: rem-calc(6);
		width: rem-calc(30);
		line-height: 1;
		height: rem-calc(30);
		text-align: center;

		a {
			color: color(primary);
			font-weight: 400;
			display: inline-block;
		}


		&.current {
			color: lighten(color(gray-light), 30%);
			border: rem-calc(1) solid lighten(color(gray-light), 30%);
			border-radius: 50%;
		}
	}

	.pages-auto-width {
		width: auto;
	}

	.previous {
		padding-right: $padding * 0.5;
		border-right: rem-calc(1) solid lighten(color(gray-light), 30%);
	}

	.next {
		padding-left: $padding * 0.5;
		border-left: rem-calc(1) solid lighten(color(gray-light), 30%);
	}
}