@font-face {
	font-family: 'icomoon';
	src:font-url('icomoon.eot?yuuuag');
	src:font-url('icomoon.eot?yuuuag#iefix') format('embedded-opentype'),
		font-url('icomoon.ttf?yuuuag') format('truetype'),
		font-url('icomoon.woff?yuuuag') format('woff'),
		font-url('icomoon.svg?yuuuag#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
	content: "\e903";
}
.icon-down-arrow:before {
	content: "\e90e";
}
.icon-cart:before {
	content: "\e90d";
}
.icon-right-arrow:before {
	content: "\e90c";
}
.icon-delivery:before {
	content: "\e901";
}
.icon-time:before {
	content: "\e902";
}
.icon-box:before {
	content: "\e904";
}
.icon-instagram:before {
	content: "\e905";
}
.icon-twitter:before {
	content: "\e906";
}
.icon-wallet:before {
	content: "\e90a";
}
.icon-add-cart:before {
	content: "\e90b";
}
.icon-call:before {
	content: "\e900";
}
.icon-help:before {
	content: "\e907";
}
.icon-track:before {
	content: "\e908";
}
.icon-add-list:before {
	content: "\e909";
}
.icon-search:before {
	content: "\e90f";
}